<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Update Doctor Info</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
	<div class = "container">
		<div class = "row">
			<div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class = "text-center"> Update Doctor </h1>
				<div class = "card-body">
					<form th:action="@{/doctors/{id} (id=${doctor.id})}" th:object = "${doctor}" method="POST">
						<div class ="form-group">
							<label> Doctor Name </label>
							<input
							type = "text"
							name = "name"
							th:field = "*{name}"
							class = "form-control"
							placeholder="Enter Doctor Name" 
							/>
						</div>
						
						<div class ="form-group">
							<label> Doctor Specialization </label>
							<input
							type = "text"
							name = "specialization"
							th:field = "*{specialization}"
							class = "form-control"
							placeholder="Enter Doctor Specialization" 
							/>
						</div>
						
						<div class ="form-group">
							<label> Doctor Mobile Number </label>
							<input
							type = "text"
							name = "mobile"
							th:field = "*{mobile}"
							class = "form-control"
							placeholder="Enter Doctor Mobile Number" 
							/>
						</div>
						
						<div class ="form-group">
							<label> Doctor Address </label>
							<input
							type = "text"
							name = "address"
							th:field = "*{address}"
							class = "form-control"
							placeholder="Enter Doctor Address" 
							/>
						</div>
						
						<div class ="form-group">
							<label> Doctor Email-id </label>
							<input
							type = "email"
							name = "email"
							th:field = "*{email}"
							class = "form-control"
							placeholder="Enter Doctor Email-id" 
							/>
						</div>
						
						<div class = "box-footer">
							<button type="submit" class = "btn btn-primary">
								Submit
							</button>
						</div>
					</form>
					<br>
					<button class="btn btn-dark"><a th:href = "@{/doctors}"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
</svg></a></button>
					
				
				</div>
			</div>
		</div>
	</div>
</body>
</html>